<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Villas - StayInPalestine</title>
    {% load static %}
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/location.css' %}">
</head>
<body>
  
      <nav class="navbar navbar-expand-lg bg-light">
        <a class="navbar-brand" href="{% url 'index' %}">StayInPalestine</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
               
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'index' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'booked' %}">Booked up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'about' %}">About us</a>
                </li>
                <li class="nav-item">
                    {% if user_name %}
                   
                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                {% else %}
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Accounts</a>
                    {% endif %}
                
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'villas' %}">Search Villas</a>
                </li>
            </ul>
        </div>
    </nav>

        <div class="villa-details">
          {% for villa in villas %}
              <div class="villa-card">
                  
                  <img src="{{ villa.image.url }}" class="villa-image" alt="Villa Image">
                  <h2 class="villa-name">{{ villa.name }}</h2>
                  <p class="villa-desc">{{ villa.desc }}</p>
                  <p class="villa-rooms">Rooms: {{ villa.rooms }}</p>
                  <p class="villa-status">Status: {{ villa.status }}</p>
                  <p class="villa-price">Price: {{ villa.price }} $ per day</p>
                  <div class="villa-actions">
                      <p class="villa-id">Villa ID: {{ villa.id }}</p>
                      <a href="{% url 'booking' villa.id %}" class="action-button">Book</a>
                      <a href="{% url 'villas' %}" class="action-button">Show All Villas</a>
                  </div>
              </div>
          {% endfor %}
        </div>
    </div>
</body>
</html>
