<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Villas - StayInPalestine</title>
    {% load static %}
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
    <link rel="stylesheet" href="{% static 'css/villa.css' %}">
</head>
<body>

    <div class="details-info">
        <h1>Villas in {{ location }}</h1>
        {% for villa in villas %}
            <h2>{{ villa.name }}</h2>
            <h2>{{ villa.desc }}</h2>
            <h2>Rooms: {{ villa.rooms }}</h2>
            <h2>Status: {{ villa.status }}</h2>
            <h2>Location: {{ villa.location }}</h2>
            <h2>Price: {{ villa.price }} $ per day</h2>
            <div class="action-buttons">
                <p>Villa ID: {{ villa.id }}</p>
                <a href="{% url 'booking' villa.id %}" class="cardbutton2">Yes</a>
                <a href="{% url 'villas' %}" class="cardbutton2">Back to Villas</a>
            </div>
        {% endfor %}
    </div>

    </body>
    </html>