*{
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh; /* Ensure the body takes up the full viewport height */
}

/* Hero Section */
.navbar {
    background: #ad184c;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    z-index: 10;
    padding: 10px 20px;
}

.navbar-brand {
    color:#ff4b2b  !important;
    font-weight: bold;
    font-size: x-large;
}

/* Change color of navbar links to red on hover */
.navbar-nav .nav-link:hover {
    color: #ff4b2b !important;
    font-weight: bold;
}
.navbar-nav .nav-link {
    color: black !important;
}

.background-container {
    background-image: url('/static/css/images/villa.jpg'); /* Make sure the path is correct */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    position: relative;
}

.hero {
    color: white;
    position: relative; /* Ensure the hero section is positioned on top of the background */
    z-index: 2; /* Keeps the hero section on top of the background */
    text-align: center;
    width: 60%;
    margin-top: 17%;
    margin-left: auto;
    margin-right: auto;
}

.hero-overlay {
    background: rgba(94, 92, 92, 0.5); /* Dark overlay for text readability */
    border-radius: 10px;
    padding: 20px;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.testimonial {
    border: 1px solid white;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 4px 8px #ad184c(210, 14, 14, 0.5);
    text-align: center;
    padding: 20px;
}

.testimonial p {
    font-style: italic;
}

#nav{
    position: fixed; /* Keeps the navbar at the top even when scrolling */
}

.btn-lg{
    background-color: #ff4b2b;
    color: white;
    border-radius: 50%;
    height: 60px;
}
button {
               border-radius: 20px;
               border: 1px solid #FF4B2B;
               background-color: #FF4B2B;
               color: #FFFFFF;
               font-size: 20px;
               font-weight: bold;
               padding: 12px 45px;
               letter-spacing: 1px;
               text-transform: uppercase;
               transition: transform 80ms ease-in;
}

.view{
    border-radius: 20px;
               border: 1px solid #FF4B2B;
               background-color: #FF4B2B;
               color: #FFFFFF;
               font-size: 12px;
               font-weight: bold;
               padding: 12px 45px;
               letter-spacing: 1px;
               text-transform: uppercase;
               transition: transform 80ms ease-in;
}
.text-center{
    color: #ff4b2b !important;
    font-weight: bold;
}

#footer{
    color: white !important;
    font-weight: lighter;
}
